<p id="notice"><%= notice %></p>

<h1 class="text-center">Bookmarks!</h1>

<div class="col-sm-4">
  <%= link_to 'Api', api_categories_url, class: "btn btn-info btn-sm" %>
</div>
<br>
<%= link_to 'New Bookmark', new_bookmark_path, class: 'btn btn-outline-warning'%>
<%= link_to 'Types', types_path, class: 'btn btn-outline-success' %>
<%= link_to 'Categories', categories_path, class: 'btn btn-outline-info' %>

<table class="table table-striped mt-3">
  <thead class="thead">
    <tr>
      <th>Url</th>
      <th>Category</th>
      <th>Type</th>
      <th colspan="3" scope="col"></th>
    </tr>
  </thead>

  <tbody id="tbody">
    <%= render @bookmarks %>
    
  </tbody>
</table>

<br>


